<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add Car List</title>
    <link href="../css/main.css">
</head>
<body>
<div class="row">
    <h2>Thêm mới</h2>
    <form th:action="@{/saveCar}" method="post">
        <p>Tên xe</p>
        <input type="text" th:field="*{car.carName}" placeholder="car name">
        <button type="submit">save</button>
    </form>
    </br>
    <div style="width: 100px; height: 20px; color: red; margin-top: 10px ;background-color: aqua;text-align: center; padding-top: 5px">
        <a th:href="@{/}"
           style="text-decoration: none; cursor: pointer; font-size: 16px;">
            back to list </a>
    </div>
</div>
</body>
</html>